


.open-sans-normal 
{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
/* shared style */
.text-primary
{
    color: #FD6E0A;
}
.dark-2
{
    color: #474747;
}
.dark-3
{
    color: #757575;
}
.section_title
{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description
{
    font-size: 18px;
    color: 757575;
}
.secondary_background
{
    background-color: #FFF8F3;
}
.text_center
{
    text-align: center;
}
/* header */
.header
{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}   
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px,200px;
}
.nav-title
{
    font-weight: 800;
    font-size: 45px;
}
nav ul
{
    display: flex;
    align-items: center;
}
nav ul li
{
    list-style-type: none;
    margin-right:51px ;
}
nav ul li a
{
    font-size: 20px;
    text-decoration: none;
}
.btn_primary
{
    font-size: 20px;;
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
}
/* main styles */
main
{   
    max-width: 1140px;
    margin: 0 auto;
}
main section
{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* banner styles */
.banner
{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner_content
{
    max-width: 580px;
}
.banner_greettings
{
    font-size: 45px;
    font-weight: 600;
}
.banner_title
{
    font-size: 85px;
    font-weight: bold;
}
.banner_description
{
    font-size: 18px;
}
.banner_dp
{
    width: 580px;
}
/* About Styles */
.about
{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about_items
{
    display: flex;
    justify-content: space-around;
}
.item_description
{
    font-weight: bold;
}
/* skills section styles*/
.skills_container
{
    display: flex;
    gap: 24px;
}
.skill
{
    padding:30px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume section styles */
.resume_container
{
    display: flex;
    gap: 24px;
}
.experience_description , .experience_subtitle
{
    color: #757575;

}
.experience_subtitle
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resum hr
{
    margin: 30px 5px;
}
resume_download
{
    margin-top: 50px;
}

/* footer styles */
footer
{
    padding: 230px;
    display: flex;
    gap: 100px;
}
.footer_collumn
{
    width: 50%;
}

footer input[type="text"] , footer input[type="email"] , footer textarea
{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}
